#float-btn {
    position: fixed;
    right: 0;
    bottom: 10px;
    cursor: pointer;
    z-index: 1000;
    padding: 10px 10px 10px 14px;
    background-color: #fff;
    border-radius: 23px 0 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 4px #00000014;
    pointer-events: all;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    margin-right: -35px;

    will-change: transform;
    user-select: none;
    -webkit-user-drag: none;
}

#float-btn > img {
    width: 28px;
    height: 28px;
    transition: all 0.2s;
}

#float-btn > span {
    margin-left: 2px;
    font-size: 16px;
    font-weight: 500;
    color: #7580ea;
}

#float-btn:hover,
#float-btn.hover {
    margin-right: 0;
    background-color: #cedeff;
}

#float-btn:not(.dragging):hover #close-btn {
    opacity: 1;
}

/* Close button styling */
#close-btn {
    opacity: 0;
    transition: opacity 0.3s ease;

    position: absolute;
    top: -8px;
    left: 0;
    cursor: pointer;
    z-index: 1001;
}

.close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.2);
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.close-icon:hover {
    background-color: rgba(51, 51, 51, 0.5);
}

.close-icon svg {
    fill: #fff;
    width: 12px;
    height: 12px;
}

#hide-menu {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1001;
    padding: 10px;
    font-size: 14px;
}

#hide-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#hide-menu li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#hide-menu li:hover {
    background-color: #f0f0f0;
}

/* 강조 */
#float-btn.emphasized {
    animation: emphasize 2s infinite;
}

@keyframes emphasize {
    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(28, 112, 239, 0.7); /* #1c70ef with opacity */
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 15px 5px rgba(28, 112, 239, 0.3);
    }
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    left: -120px; /* Adjust this value as needed */
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    pointer-events: none;
}

#float-btn:hover .tooltip {
    opacity: 1;
}

.ant-tour {
    padding: 0;
}
